*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: #111;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    display: flex;

}
.heart{
    height: 70px;
    width: 70px;
    background-color: #111;
    position:absolute;
    transform: rotate(-45deg);
    box-shadow: 20px 30px 100px red;
    animation: heart 5s linear infinite;
    left: 45%;
    top: 46%;
    z-index: 12;
    
}

.heart::before{
    height: 70px;
    width: 70px;
    background-color:#111;
    top: -45%;
    position: absolute;
    content: '';
    border-radius: 50px;
    animation: heart 5s linear infinite;
    
}
.heart::after{
    height: 70px;
    width: 70px;
    background-color:#111;
    right:-45%;
    position: absolute;
    content: '';
    border-radius: 50px;
    animation: heart 5s linear infinite;
    
}
@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.09);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
        
    }
    100%{
        transform: rotate(-45deg) scale(1.02);
        background-color: red;
    }
}
.circle{
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border: 3px skyblue solid;
    animation: circle 5s linear infinite;
    z-index: 9;
}
@keyframes circle{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360);
        background-color: skyblue;
        transition: 3s;
        border: red;
    }
}
/* @media (max-width:768px){ 
    .circle {
        height: 300px;
        width: 300px;
        
    }
    
}*/
.square{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: #fff solid 2px;
    position: absolute;
    background-color: transparent;
    animation: square 5s linear infinite;
}
@keyframes square{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360);
        background-color: pink;
        transition: 3s;
        border: yellow;
    }
}
